.page-contentpage {
}

    .page-contentpage .page-header {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .page-contentpage p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .page-contentpage h1 {
        font-size: 2em;
        font-weight: bold;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
    }

    .page-contentpage h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
    }

    .page-contentpage h3 {
        font-size: 1em;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .page-contentpage h4 {
        font-weight: bold;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
    }

    .page-contentpage h5 {
        font-size: 0.83em;
        font-weight: bold;
        margin-top: 1.67em;
        margin-bottom: 1.67em;
    }

    .page-contentpage h6 {
        font-size: 0.67em;
        font-weight: bold;
        margin-top: 2.33em;
        margin-bottom: 2.33em;
    }

    .page-contentpage pre {
        display: block;
        font-family: monospace;
        white-space: pre;
        margin: 1em 0px;
    }

    .page-contentpage address {
        font-style: italic;
    }

.he .page-contentpage ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 40px;
}

.en .page-contentpage ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
}

.he .page-contentpage ul {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 40px;
}

.en .page-contentpage ul {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 40px;
}

.page-contentpage li {
    display: list-item;
}

.page-contentpage a {
    color: inherit;
}