body {
    direction: rtl;
    background-color: inherit;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order-details {
    font-weight: bolder;
    text-align: center;
}


.orders-container {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow-x: auto; 
   
    max-width: 1500px;
}

.order-list {
    margin: 20px;
}

.MuiTableCell-root {
    padding: 8px; 
     
    
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 300px;
  
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.MuiTableCell-root.address-cell {
  
}

.MuiTableCell-root.address-header {
    text-align: center;
}

@media (max-width: 1000px) {
    .orders-container {
        width: 95%; 
    }
}

.order-list {
    padding: 16px;
    max-width: 100%;
    overflow: auto;
}

.order-list .MuiTable-root {
    border-radius: 8px;
}

.order-list .MuiTableCell-root {
    color: #283593;
    padding: 16px;
}

.order-list .MuiButtonGroup-root {
    gap: 8px;
}

.order-list .MuiIconButton-root {
    padding: 8px;
}

.order-list .MuiTooltip-tooltip {
    background-color: #283593;
    color: #ffffff;
}

