body {
    direction: rtl;
    background-color: inherit;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order-details {
    font-weight: bolder;
    text-align: center;
}


.orders-container {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow-x: auto; 
   
    max-width: 1500px;
}

.order-list {
    margin: 20px;
}

.MuiTableCell-root {
    padding: 8px; 
     
    
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 300px;
  
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.MuiTableCell-root.address-cell {
  
}

.MuiTableCell-root.address-header {
    text-align: center;
}

@media (max-width: 1000px) {
    .orders-container {
        width: 95%; 
    }
}
